footer {
  .footer__menu {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 980px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}